@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

// Font Variables
$roboto: 'Roboto', 'normal';

// Color Variables
$main-color: #1a237e;
$secondary-color: #ff9100;

// Screen Variables
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

$max-width: 1024px;
$section-width: 768px;